<ion-header>
    <ion-navbar>
        <ion-title>
            IMDB Movie Finder
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form (ngSubmit)="searchTitle()" [formGroup]="search">
            <ion-item>
                <ion-label>Type</ion-label>
                <ion-select [(ngModel)]="typeSelect" formControlName="type">
                    <ion-option value="any">All</ion-option>
                    <ion-option value="movie">Movie</ion-option>
                    <ion-option value="series">Series</ion-option>
                    <ion-option value="game">Game</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="titleNameOrId" placeholder="Search for a movie or IMDB-ID">
                </ion-input>
            </ion-item>
        </form>
        <ion-item *ngFor="let t of titles">
            <title-component [Title]="t">

            </title-component>
        </ion-item>
        <ion-item padding text-center>
            <h2 id="resultsFound"></h2>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div *ngIf="resultSize > 10" class="page-numbering">
            <button ion-button icon-left float-left outline [disabled]="backDisabled" (click)="prevPage()">
                <ion-icon name="arrow-back"></ion-icon>
                Prev. page
            </button>
            Page {{ page }}
            <!-- Float the icon right -->
            <button ion-button icon-right float-right outline [disabled]="nextDisabled" (click)="nextPage()">
                Next page
                <ion-icon name="arrow-forward"></ion-icon>
            </button>

        </div>
    </ion-toolbar>
</ion-footer>