page-home {
      
}
ion-content {
      background-color: #CACBD5 !important;
}

ion-navbar {
      text-align: center;
}

.toolbar-background {
      background-color: #3D4252 !important;
}

.toolbar-title {
      color: #CACBD5;
}

.toolbar-content {
    display: inline-flex;
}

.item {
      background-color: transparent;
}

ion-card ion-item {
      background-color: #666F89;
}

ion-item {
    width: 30%;
    margin-left: 35%;
}

.page-numbering {
    text-align: center;
    line-height: 50px;
    color: white;
}

@media (min-width: 860px) { 
    ion-list {
        padding-left: 25% !important;
        padding-right: 25% !important;
    }
}
