<ion-header>
    <ion-navbar>
        <ion-title>
            IMDB Movie Finder
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form (ngSubmit)="searchMovie()" [formGroup]="search">
            <ion-item>
                <ion-input type="text" formControlName="movieName" placeholder="Search for a movie">
                </ion-input>
            </ion-item>
        </form>
        <ion-item *ngFor="let m of movies">
            <movie [Movie]="m">

            </movie>
        </ion-item>

        <ion-item>

        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div *ngIf="resultSize > 10" class="page-numbering">
            <button ion-button icon-left float-left outline [disabled]="backDisabled" (click)="prevPage()">
                <ion-icon name="arrow-back"></ion-icon>
                Prev. page
            </button>
            Page {{ page }}
            <!-- Float the icon right -->
            <button ion-button icon-right float-right outline [disabled]="nextDisabled" (click)="nextPage()">
                Next page
                <ion-icon name="arrow-forward"></ion-icon>
            </button>

        </div>
    </ion-toolbar>
</ion-footer>